header{
    img{
        width: 100%;
    }
}

h1{
    margin: 0;
}
#titulos {
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}
@media (min-width: 426px){
    #titulos{
        font-size: 4rem;
    }
}
#subtitulo{
    margin-top: 5px;
    color: rgb(204, 201, 201);
    font-size: 1.75rem;
    text-align: center;
    text-decoration: underline;
}
@media (min-width: 425px){
    #subtitulo{
        font-size: 2.5rem;
    }
}
$cosasfondo:(h2, h3, h4, ol);
#fondo{
    background: url("../media/fondo.png");
    background-attachment: fixed;
    @each $cosas in $cosasfondo {
        #{$cosas}{
            color: rgb(204, 201, 201);
        }
    }
}
ul{
    list-style: none;
}
/* formato footer para todos */
.footer{
    background-color: grey;
    padding: 10px;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            font-weight: 500;
        }
    }
}

@font-face {
    font-family: 'minecraft-font';
    src: url(../fonts/minecraft.ttf);
}
@font-face {
    font-family: 'pixel-font';
    src: url(../fonts/dogicapixel.ttf);
}

div{
    h1, h2{
        font-family: minecraft-font;
        margin-left: 10px;
    }
}
li{
    h2{
        font-family: sans-serif;
    }
}
/* estructura modificada de bootstrap para el menu */
nav{
    .nav-pills{
        justify-content: flex-end;
        .nav-link.active, .show>.nav-link{
            color: #fff;
            background-color: #03045e;
        }
        .nav-link{
            font-family: minecraft-font;
            font-size: 0.7rem;
            color: white;
                &:hover{
                color: #caf0f8;
            }
        }
    }
    /* le doy un fondo asi como un pequeño padding al nav para que quede mejor ahora q es sticky */
    background-color: #03045e;
    padding: 5px;
}
@media (min-width: 351px){
    .nav-pills{
        .nav-link{
            font-size: 1rem!important; /* lo mismo que abajo... desconozco el porque */
        }
    }
}

/* tuve q poner el !important xq en bootstrap lo tenia y sino no lo podia sobreescribir */
.bg-dark{
    background-color: #03045e!important;
}

/* separe esta clase q pertenece a nav-pills porque me generaba problemas con las animaciones */
.nav-item{
    background-color: #023e8a;
    color: white;
    transition: transform 300ms;
    border-radius: 8%;
    width: 75px;
        &:hover{
            transform: scale(1.02);
        }
}
@media (min-width:351px){
    .nav-item{
        width: 90px;
    }
}

@media (min-width:1440px){
    body{
        font-size: 1.5rem;
    }
}

/* modificando la clase grid de Bootstrap para que las imagenes en el mismo
tengan una animacion y que la seccion tenga un fondo para diferenciarla mejor*/
.container{
    img{
        margin-bottom: 10px;
        transition: transform 300ms;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 260px;
        &:hover{
            transform: scale(1.07,1.07);
        }
    }
    div{
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px;
    }
    h2, h3{
        text-align: center;
    }
    h2{
        color: #060a93!important; /* uso este important para romper el orden de presendencia puesto en #fondo h2 */
    }
}

@media (min-width:360px){
    .container{
        img{
            width: 320px;
        }
    }
}

@media (min-width:420px){
    .container{
        img{
            width: 370px;
        }
    }
}
@media (min-width:520px){
    .container{
        img{
            width: 330px;
        }
    }
}
@media (min-width: 769px){
    .container{
        img{
            width: 400px;
        }
    }
}

@media (min-width: 1440px){
    .container{
        h3{
            font-size: 2.5rem;
        }
    }
}
/* parte especifica para el orden de las imagenes en la seccion de elden ring*/
$imagenes:(primera:left,segunda:right,tercera:left);

@each $id, $posicion in $imagenes{
    .textoYVideo{
        li{
            img##{$id}{
                float: $posicion;
                margin: 5px;
                @media (min-width: 424px){
                    width: 270px;
                }
                @media (min-width: 700px){
                    width: 400px;
                }
                @media (min-width: 1000px){
                    width: 450px;
                }
            }
        }
    }
}
$imgParalelas:(cuarta,quinta,sexta);
@each $id in $imgParalelas {
    .textoYVideo{
        img##{$id}{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            width: 280px;
            @media (min-width: 424px){
                width: 380px;
            }
            @media (min-width:700px){
                width: 500px;
            }
        }
    }
}
/* moviendo el video a la derecha y haciendo q el texto tenga fondo para una mejor lectura */
.textoYVideo{
    iframe{
        float: right;
        margin: 5px;
        width: 256px;
        height: 144px;
    }
    ul, p{
        background: rgba(255, 255, 255, 0.3);
        padding: 10px;
        font-weight: 600;
    }
    li{
        img{
            width: 200px;
        }
    }
}

@media (min-width: 424px){
    li{
        img{
            width: 300px
        }
    }
}
@media (min-width: 700px){
    li{
        img{
            width: 400px
        }
    }
}
.textoImagen{
    @extend .textoYVideo;
    img{
        float:right;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 200px;
    }
    li{
        img{
            margin: 5px;
            width: 150px;
            float: left;
        }
        img#colosos{
            float: none;
            width: 95%;
        }
    }
}

/* parte especifica para las imagenes de la seccion haikyu */

$haikyu:(hinata:left,kageyama:right,daichi:left,koushi:right,asahi:left,tanaka:right,nishinoya:left,kinoshita:right,tsukki:left,yama:right);

@each $id, $posicion in $haikyu{
    .textoImagen{
        img##{$id}{
            float: $posicion;
        }
    }
}

/* parte especifica para las imagenes de la seccion sailor moon */

//$sailor:(usagi:left, ami:right, rei:left, makoto:right, minako:left, mamoru:right, chibi:left, setsuna:right, haruka:left,michiru:right,hotaru:left);
$sailor:(usagi,ami,rei,makoto,minako,mamoru,chibi,setsuna,haruka,michiru,hotaru);
@each $id in $sailor{
    .textoImagen{
        img##{$id}{
            float: none;
        }
    }
}


@media (min-width: 1023px){
    .textoImagen{
        li{
            img{
                width: 180px;
            }
        }
    }
}

/* ajuste del iframe y que quede mas armonioso y responsivo a los diferentes dispositivos */
@media (min-width: 500px){
    .textoYVideo iframe{
        width: 426px;
        height: 240px;
    }
}

@media (min-width: 768px){
    .textoYVideo iframe{
        width: 640px;
        height: 360px;
    }
}

/* ajuste de imagenes en la secciones particulares para que las imagenes queden acorde al tamaño de la pantalla */
@media (min-width: 426px){
    .textoImagen img{
        width: 300px;
    }
}

@media (min-width: 769px){
    .textoImagen img{
        width: 400px;
    }
}
.textoTachado{
    text-decoration: line-through;
}

/* ajustando la imagen del carrusel para que sea responsivo */
$altura: 135px;
.carousel-inner{
    img{
        width: 100%;
        height: $altura;
    }
}

/* creo que aca logre que la imagen del carrusel ya no cambie la altura de manera tan fea y aplicaria lo del desafio */
@media (min-width: 375px){
    .carousel-inner{
        img{
            height: $altura*1.2;
        }
    }
}

@media (min-width: 700px){
    .carousel-inner{
        img{
            height: $altura*2;
        }
    }
}

@media (min-width: 1000px){
    .carousel-inner{
        img{
            height: $altura*2.6666;
        }
    }
}

@media (min-width: 1400px){
    .carousel-inner{
        img{
            height: $altura*3.75;
        }
    }
}

/* cambiando el texto del label para que sea mas visible */
.form-check{
    font-weight: bolder;
    color: whitesmoke;
}

/* modificando los botones para que sigan la paleta de colores de la pagina */
$colorBotonesHover:(primary:#00b4d8,secondary:#6c757d);
$colorBotones:(primary:#0077b6, secondary:#495057);

@each $nombre, $color in $colorBotones{
    .btn-#{$nombre}{
        background-color: $color;
        border-color: $color;
    }
}

@each $nombre, $color in $colorBotonesHover {
    .btn-#{$nombre}:hover{
        background-color: $color;
        border-color: $color;
    }
    
}
